<section>
    <form ng-submit="spas.setSuffix()">
        <div class="col-md-6 col-md-offset-3">
            <div class="login-bx text-center">
                Set Suffix
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="setInputedSuffix">
                            Suffix
                        </label>
                        <textarea ng-model="spas.setInputedSuffix" name="setInputedSuffix" id="setInputedSuffix" cols="30" rows="10" required></textarea>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary block">Send Suffix</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>